*{
	font-family: 'Roboto', sans-serif;
}
.content{
	max-width: 960px;
	margin:auto;
	padding:1rem;
}
.relative{
	position: relative;
}
.right{
	position: absolute;
	right:0px;
}
.br-bt{
	border-bottom:1px solid #ededed;
}
.br-tp{
	border-top:1px solid #ededed;
}
.br{
	border:1px solid #ededed;
}
.mg-bt{
	margin-bottom:.5rem;
}
.thin{
	font-weight: 300;
}
.hero h1{
	font-size: 2.5rem;
}
.button-fill{
	display: inline-block;
	width: 100%;
}
.center-text{
	text-align: center
}

.button-colossal{
	line-height: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	letter-spacing: .1rem;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
}
small{
	color:grey;
}
b{
	font-weight: 500;
}
.hero p{
	color: rgba(0,0,0,.8);
}
.logo{
	color: #3c308d;
	font-weight: 900;
	font-size: 1.0rem;
	letter-spacing: .1rem;
}
@media screen and (max-width: 48em){
	.mobile-hide{
		display: none !important;
	}
	.mobile-show{
		display: inline-block;
	}
}
p{
	line-height: 1.5rem;
}
.triad .pure-u-1{
	padding:1rem;
	Box-sizing: Border-box
}
.triad h3{
	color:rgba(0,0,0,.5);
}
.demo{
	width:83%;
	position: absolute;
	top:21%;
	left:9%;
	height: 65.5%;
	overflow: hidden;
}
.demo img{
	width: 100%;
	min-height: 100%;
}





html {
  -webkit-tap-highlight-color: transparent;
}

/**
 * Component: Button
 * --------------------------------------------------
 */
.c-button {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  color: #fff;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 2px 2px 0 0 #383e46;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.c-button:hover, .c-button:focus {
  outline: 0;
  text-decoration: none;
}
.c-button:not(:disabled) {
  cursor: pointer;
}

/**
 * Mixin: Button Modifier
 * --------------------------------------------------
 */
/**
 * Component: Button
 * Modifier: Purple
 * --------------------------------------------------
 */
.c-button--purple {
  background: #967ADC;
  /*text-shadow: 2px 2px 0 #7652d1;*/
}
.c-button--purple:hover {
  background: #8666d7;
}

/**
 * Component: Button
 * Modifier: Blue
 * --------------------------------------------------
 */
.c-button--blue {
  background: #4A89DC;
  text-shadow: 2px 2px 0 #276ecc;
}
.c-button--blue:hover {
  background: #357bd8;
}

/**
 * Component: Button
 * Modifier: Red
 * --------------------------------------------------
 */
.c-button--red {
  background: #E9573F;
  text-shadow: 2px 2px 0 #dc3519;
}
.c-button--red:hover {
  background: #e64328;
}

/**
 * Utility: Ripple
 * --------------------------------------------------
 */
.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}
.c-ripple.is-active .c-ripple__circle {
  -webkit-animation: a-ripple .4s ease-in;
          animation: a-ripple .4s ease-in;
}

/**
 * Animation: Ripple
 * --------------------------------------------------
 */
@-webkit-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
