*{
	font-family: 'Roboto', sans-serif;
}
.content{
	max-width: 960px;
	margin:auto;
	padding:1rem;
}
.relative{
	position: relative;
}
.right{
	position: absolute;
	right:0px;
}
.br-bt{
	border-bottom:1px solid #ededed;
}
.br-tp{
	border-top:1px solid #ededed;
}
.br{
	border:1px solid #ededed;
}
.mg-bt{
	margin-bottom:.5rem;
}
.thin{
	font-weight: 300;
}
.medium{
	font-weight: 400;
}
.hero h1{
	font-size: 2.5rem;
}
.button-fill{
	display: inline-block;
	width: 100%;
}
.center-text{
	text-align: center
}
.justify-text{
	text-align: left;
}
.simple-link{
	text-decoration: none;
}

.button-colossal{
	line-height: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	letter-spacing: .1rem;
	font-size: 1rem;
	font-weight: 300;
}
small{
	color:grey;
}
b{
	font-weight: 500;
}
.hero p{
	color: rgba(0,0,0,.8);
}
.logo{
	color: #3c308d;
	font-weight: 900;
	font-size: 1.0rem;
	letter-spacing: .15rem;
}
@media screen and (min-width: 48em){
	#hero-text{
		float:right;
		/*padding:.5rem;*/
		/*background: blue;*/
		max-width:500px;
	}
	.logo{
		position: relative;
	    top: -.125rem;
	    font-size: 1.25rem;
	}
}
@media screen and (max-width: 48em){

	.mobile-hide{
		display: none !important;
	}
	.mobile-show{
		display: inline-block;
	}
}
p{
	line-height: 1.5rem;
}

nav a {
	text-transform: capitalize;
}

.demo{
	width:83%;
	position: absolute;
	top:21%;
	left:9%;
	height: 65.5%;
	overflow: hidden;
}
.demo img{
	width: 100%;
	min-height: 100%;
}
.triad .pure-u-1{
	padding:1rem;
	Box-sizing: Border-box
}
.triad{
	border-bottom:1px solid rgba(0,0,0,.1);
	border-top:1px solid rgba(0,0,0,.1)
}
.triad p, .triad h3, .triad img {
	max-width: 450px;
	margin-left:auto;
	margin-right:auto;
}
.talkingPointGallery h3 {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.1rem;
	/*text-transform: uppercase;*/
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: red;*/
  height: 100%;
}
.talkingPointGallery p{
	color: rgba(0,0,0,.8);
}
@media screen and (max-width: 48em){
	.talkingPointGallery img, .talkingPointGallery h3, .talkingPointGallery p{
		/*max-width: 450px;*/
		margin-left:auto;
		margin-right:auto;
	}
	.talkingPointGallery .pure-u-1:nth-child(2n){
		margin-bottom: 3rem;
	}
}

@media screen and (min-width: 48em){
	.talkingPointGallery .pure-u-1{
		padding:3rem;
		box-sizing:border-box;
		margin-bottom:3rem;
	}
	.talkingPointGallery .pure-u-1:nth-child(4n-1){
		position: relative;
		left:50%;
	}

	.talkingPointGallery .pure-u-1:nth-child(4n){
		position: relative;
		right:50%;
	}
}
.grey{
	background: rgba(0,0,0,.05);
}

.purple{
	background:linear-gradient(to right, rgba(60,48,141,1), rgba(60,48,141,1)), url('/img/bottleSM.jpg');
	background-size: cover;
	color:white;
}
.purple p {
	font-weight: 300;
}