*{
	font-family: 'Roboto', sans-serif;
}
.content{
	max-width: 960px;
	margin:auto;
	padding:1rem;
}
.relative{
	position: relative;
}
.right{
	position: absolute;
	right:0px;
}
.br-bt{
	border-bottom:1px solid #ededed;
}
.br-tp{
	border-top:1px solid #ededed;
}
.br{
	border:1px solid #ededed;
}
.mg-bt{
	margin-bottom:.5rem;
}
.thin{
	font-weight: 300;
}
.hero h1{
	font-size: 2.5rem;
}
.button-fill{
	display: inline-block;
	width: 100%;
}
.center-text{
	text-align: center
}

.button-colossal{
	line-height: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	letter-spacing: .1rem;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
}
small{
	color:grey;
}
b{
	font-weight: 500;
}
.hero p{
	color: rgba(0,0,0,.8);
}
.logo{
	color: #3c308d;
	font-weight: 900;
	font-size: 1.0rem;
	letter-spacing: .1rem;
}
@media screen and (max-width: 48em){
	.mobile-hide{
		display: none !important;
	}
	.mobile-show{
		display: inline-block;
	}
}
p{
	line-height: 1.5rem;
}
.triad .pure-u-1{
	padding:1rem;
	Box-sizing: Border-box
}
.triad h3{
	color:rgba(0,0,0,.5);
}
.demo{
	width:83%;
	position: absolute;
	top:21%;
	left:9%;
	height: 65.5%;
	overflow: hidden;
}
.demo img{
	width: 100%;
	min-height: 100%;
}



